<!-- *********** Code avant la modification ***********

<table>
  <tr *ngFor = "let case of cases">
    <td *ngFor = "let case of cases">
      <button (click)="onClick()"></button>
  </td>
  </tr>
</table>

-->

<!--
*********** Utilisation de 3 lignes cases avec comme attributs id et piece ***********
*********** Voir ci-dessous ***********
-->
<table>
  <tr>
    <td *ngFor = "let case of cases1">
      <div (click)="onClick()"></div>
    </td>
  </tr>
  <tr>
    <td *ngFor = "let case of cases2">
      <div (click)="onClick()"></div>
    </td>
  </tr>
  <tr>
    <td *ngFor = "let case of cases3">
      <div (click)="onClick()"></div>
    </td>
  </tr>
</table>
