<table>
              <tr>
                  <td><input type="text" maxlength="1"></td>
                  <td><input type="text" maxlength="1"></td>
                  <td><input type="text" maxlength="1"></td>
              </tr>
              <tr>
                  <td><input type="text" maxlength="1"></td>
                  <td><input type="text" maxlength="1"></td>
                  <td><input type="text" maxlength="1"></td>
              </tr>
              <tr>
                  <td><input type="text" maxlength="1"></td>
                  <td><input type="text" maxlength="1"></td>
                  <td><input type="text" maxlength="1"></td>
              </tr>
</table>
