table {
  margin:1em auto;
}
td {
  height:70px;
  width:70px;
  text-align:center;
  border: 3px black solid;
}


/* td:last-child { border-right:none; }
tr:last-child td { border-bottom:none; } */

div {
	height: 70px;
	width: 70px;
	border: none;
  font-size: 60px;
	/* text-align: center; */
  /* padding: 25px; */
}

div:hover{
  cursor: pointer;
}
