<script src="sudoku.component.ts"></script>

<div class="sudoku">
	<h1 class="titreSudoku">Sudoku</h1>
		<!--<ng-container *ngFor="let grilleFacile of grilles">
		{{grilleFacile.grid}}
	</ng-container> -->
	<nav class="bouton">
		<button routerLink="/sudoku-facile">Grille facile</button>
		<button routerLink="/sudoku-normal">Grille normale</button>
		<button routerLink="/sudoku-difficile">Grille difficile</button>
		<button routerLink="/sudoku">Retour</button>
	</nav>
</div>
	<article class="descriptionSudoku">
		Le sudoku est un jeu en forme de grille défini en 1979 par l’Américain Howard Garns, mais inspiré du carré latin, ainsi que du problème des 36 officiers du mathématicien suisse Leonhard Euler.<br>Le but du jeu est de remplir ces cases avec des chiffres allant de 1 à 9 en veillant toujours à ce qu'un même chiffre ne figure qu'une seule fois par colonne, une seule fois par ligne, et une seule fois par carré de neuf cases.
	</article>
	<article class="titreDescription">
		Description du jeu :
	</article>
