<div class="logoGG">
    <a routerLink="/index"><img src="./assets/img/GG2.png" alt="logo" class="GG"></a>
</div>
<ul id = "nav">
  <!--<li id="logomini"><a href="/index"><img src="assets/img/minilogo.png" alt="STAM.fr"></a></li>-->
  <li><a routerLink="/index">Accueil</a></li>
  <li>Jeux
    <ul>
      <li><a routerLink="/sudoku-index">Sudoku</a></li>
      <li><a routerLink="/morpion-index">Morpion</a></li>
    </ul>
  </li>
  <li><a routerLink="/auteur">Auteurs</a></li>
  <li><a routerLink="/condition">Conditions</a></li>
  <li><a routerLink="/contacter">Contacter</a></li>
  <li class = "login"><a href="index#volet">Login</a></li>
</ul>
<section id="volet">
<input id="username" name="username" type="text" placeholder="Identifiant" maxlength="100"><br>
<input id="pwd" name="pwd" type="password" placeholder="Mot de passe" maxlength="100">
<div class="bouton">
<a href="#" class="confirmer">Confirmer</a>
<a href="index#volet_clos" class="fermer">Retour</a>
</div>
</section>

<!--<h1>
  <a href="/index"><img src="assets\img\logo.png"></a>
</h1>-->
