<ul id = "nav">
  <!--<li id="logomini"><a href="/index"><img src="assets/img/minilogo.png" alt="STAM.fr"></a></li>-->
  <li><a id ="titreLogo" routerLink="/index">Stam.FR</a></li>
  <li>Jeux
    <ul>
      <li><a routerLink="/sudoku-index">Sudoku</a></li>
      <li><a routerLink="/morpion-index">Morpion</a></li>
    </ul>
  </li>
  <li><a routerLink="/auteur">Auteurs</a></li>
  <li><a routerLink="/condition">Conditions</a></li>
  <li><a routerLink="/contacter">Contacter</a></li>
  <li class = "login"><a href="#">Login</a></li>
</ul>

<!--<h1>
  <a href="/index"><img src="assets\img\logo.png"></a>
</h1>-->
