h1
{
  font-size: 40px;
	font-weight: normal;
	text-align: center;
	color: silver;
	text-shadow: black 2px 2px 2px;
}
#nav{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  color: white;
  font-family: Arial;
  background-color: #4dd2ff;
  opacity: 0.8;

}
#logomini{
  background-color: transparent;
  font-weight: bold;

}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul li {
  display:inline-grid;
  width: 300px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0px;
  vertical-align: baseline;
}
ul li a {
  text-decoration: none;
  color: white;
  display: block;
  background-color: #4dd2ff;
}
ul li:hover{
  background-color: blue;
}
ul li a:hover{
  background-color: blue;
}
ul li ul li{
  display: none;
}
ul li:hover ul li{
  display: block;
}
