@font-face {
 font-family: 'crayon';
 src: url('../../assets/fonts/crayon.ttf');
}
div{
  font-size: 20px;
  font-family: 'crayon';
}
input{
  border-bottom: 2px black solid;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 150px;
}
input placeholder{
  font-size: 20px;
  font-family: 'crayon';
}
