<h1> Les auteurs </h1>
<div class="ps">
  <a href="auteur#p1"><img src="assets\img\AvatarAhmed.png"></a>
  <a href="auteur#p2"><img src="assets\img\AvatarSadou.png" alt=""></a>
  <a href="auteur#p3"><img src="assets\img\AvatarTaru.png" alt=""></a>
  <a href="auteur#p4"><img src="assets\img\AvatarMickael.png" alt=""></a>
</div>
<div class="section" id="p1" >
  <span class="nom">Ahmed</span>
  <span class="bordure"></span>
  <p>
    Ahmed DEKKAR, étudiant en L2 INFO à Paris Descartes.
  </p>
</div>
<div class="section" id="p2">
  <span class="nom">Saad</span>
  <span class="bordure"></span>
  <p>
    Saad-Allah MAHI, étudiant en L2 INFO à Paris Descartes.
  </p>
</div>
<div class="section" id="p3">
  <span class="nom">Tarujan</span>
  <span class="bordure"></span>
  <p>
    Tarujan VALLIPURAM, étudiant en L2 INFO à Paris Descartes.
  </p>
</div>
<div class="section" id="p4">
  <span class="nom">Mickaël</span>
  <span class="bordure"></span>
  <p>
    Mickaël DAI, étudiant en L2 INFO à Paris Descartes.
  </p>
</div>
