@font-face {
 font-family: 'bit';
 src: url('../../assets/fonts/BIT.otf');
}
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1
{
  font-size: 40px;
	font-weight: normal;
	text-align: center;
	color: black;
  margin-bottom: 20px;
  font-family: 'bit',Arial;
  color: #333333;
}
p{
  text-align: center;
  font-family: 'bit', Arial;
  font-size: 1.2em;
  color: #333333;
}
.ps a{
  display: inline-block;
  margin: 0 30px;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 100%;
}
.ps a img{
  width: 100%;
  filter: grayscale(100%);
}
.ps a:hover > img{
  filter:none;
}
.ps{
  margin-bottom: 40px;
}
.section{
  height: 0;
  overflow: hidden;
}
.bordure{
  display: block;
  margin: auto;
  width: 160px;
  height: 3px;
  background-color: #4dd2ff;
  margin-bottom: 30px;
}

.nom{
  display: block;
  margin-top: 50px;
  margin-bottom: 60px;
  text-align: center;
  font-family: 'bit';
  color: #333333;
  text-transform: uppercase;
  font-size: 22px;
  border-top: 20px;
}
.section:target{
  height: auto;
}
