<div id="footer">
  <p>Copyright © 2018 Tous droits réservés.</p>
  <p>
    <a routerLink="/auteur">Les auteurs</a>
    <a routerLink="/condition">Condition d'utilisation </a>
    <a class="antipipe" routerLink="/contacter"> Nous contacter </a>
  </p>
  <a class="antipipe_icon" href="https://www.facebook.com/"><img src="../../assets/img/facebook.png" alt=""></a>
  <a class="antipipe_icon" href="https://twitter.com/"><img src="../../assets/img/twitter.png" alt=""></a>
  <a class="antipipe_icon" href="https://plus.google.com/discover"><img src="../../assets/img/google-plus.png" alt=""></a>
</div>
