<div class="morpion">
  <h1 class="titreMorpion">Morpion</h1>
  <app-morpion-grille></app-morpion-grille>
  <nav class="bouton">
    <button (click)="postChoix1()" routerLink="/morpion-j1vs-ia" disabled>J1 vs IA</button>
 <button (click)="postChoix2()" routerLink="/morpion-j1vs-j2">J1 vs J2</button>
    <button routerLink="/morpion-index">Retour</button>
  </nav>
</div>
<article class="descriptionMorpion">
    <span class="dj">Description du jeu :</span><br>
    Le morpion est un jeu de réflexion se pratiquant à deux joueurs au tour par tour et dont le but est de créer le premier un alignement sur une grille.<br>
		Règle du jeu: Les joueurs inscrivent tour à tour leur symbole sur une grille. Le premier joueur qui parvient à aligner 3 de ses symboles horizontalement, verticalement ou en diagonale gagne la partie.
</article>
