.titreDescription{
	border:1px black solid;
	width: 270px;
	height: 45px;
	text-align: center;
  background-color: teal;
	font-family: 'alphawood', arial;
	font-size: 25px;
	font-weight: bold;
	color: white;
	margin-right:50px;
	border-radius: 10px;
	transform: rotate(-5deg) translate(210px, -190px);
}
.descriptionMorpion{
	margin:auto;
  background-color: teal;
	width: 75%;
	border: 2px black solid ;
	padding: 50px;
	color: white;
	border-radius: 200px;
	font-weight: bold;
}

.morpion{
	margin: 60px;
	border: 7px black groove;
	padding-right: 50px;
	padding-left: 50px;
	width: 75%;
	height: 400px;
}
