<div class="morpion">
  <h1 class="titreMorpion">Morpion</h1>
    <p>En construction...</p>
</div>
<article class="descriptionMorpion">
    <span class="dj">Description du jeu :</span><br>
    Le morpion est un jeu de réflexion se pratiquant à deux joueurs au tour par tour et dont le but est de créer le premier un alignement sur une grille.<br>
		Règle du jeu: Les joueurs inscrivent tour à tour leur symbole sur une grille. Le premier joueur qui parvient à aligner 3 de ses symboles horizontalement, verticalement ou en diagonale gagne la partie.
	</article>
  <!--
	<article class="titreDescription">
	Description du jeu :
	</article>
-->
