<div class="morpion">
  <h1 class="titreMorpion">Morpion</h1>
  <table>
    <caption> Choississez le mode de jeu </caption><br/>
    <tr>
      <td><div></div></td>
      <td><div></div></td>
      <td><div></div></td>
    </tr>
    <tr>
      <td><div></div></td>
      <td><div></div></td>
      <td><div></div></td>
    </tr>
    <tr>
      <td><div></div></td>
      <td><div></div></td>
      <td><div></div></td>
    </tr>
  </table>
  <nav class="bouton">
    <button id="bouton1" routerLink="/morpion-j1vs-ia">J1 vs IA</button>
 <button id="bouton2" routerLink="/morpion-j1vs-j2">J1 vs J2</button>
    <button id = "bouton3" routerLink="/morpion-index">Retour</button>
  </nav>
</div>
<article class="descriptionMorpion">
    <span class="dj">Description du jeu :</span><br>
    Le morpion est un jeu de réflexion se pratiquant à deux joueurs au tour par tour et dont le but est de créer le premier un alignement sur une grille.<br>
		Règle du jeu: Les joueurs inscrivent tour à tour leur symbole sur une grille. Le premier joueur qui parvient à aligner 3 de ses symboles horizontalement, verticalement ou en diagonale gagne la partie.
</article>
