<section>
  <h2><span class ="bienvenue">Bienvenue sur Grid Game</span></h2><br>
</section>

  <div class="container">

    <input type="radio" name="texte" id="i1" checked>
    <input type="radio" name="texte" id="i2">
    <input type="radio" name="texte" id="i3">

    <div class="slider" id="one">
    <h2> Bienvenue </h2> <br>
    <p>  Bonjour et bienvenue sur Grid Game la plateforme de jeux en ligne.<br>
      Le projet STAM est une plateforme de jeux en ligne dédiée aux amateurs de jeux de
    logique. Le site permettra de jouer à des jeux déjà très populaires « revisités ». Nos jeux sont « fait maison », c’est-à-dire, qu’ils auront non seulement une touche d’originalité mais
    pourront être également directement modifié par l’équipe de développement en fonction de vos avis nottament chers joueurs.
    </p>
      <label for="i3" class="pre"><p class="fleche">&lt;</p></label>
      <label for="i2" class="nxt"><p class="fleche">&gt;</p></label>
    </div>

    <div class="slider" id="two">
     <h2>News</h2><br>
      <p>22/01/18 : Création des components et structure du site
      03/02/18 : Ajout du navigateur
      08/02/18 : Ajout de contenu dans les différents component
      14/02/18 : Lien back-front pour le sudoku
      19/02/18 : Modification du design du site
      </p>
      <label for="i1" class="pre"><p class="fleche">&lt;</p></label>
      <label for="i3" class="nxt"><p class="fleche">&gt;</p></label>
    </div>

    <div class="slider" id="three">
    <h2> Informations </h2><br>
     <p> Blabla</p>
      <label for="i2" class="pre"><p class="fleche">&lt;</p></label>
      <label for="i1" class="nxt"><p class="fleche">&gt;</p></label>
    </div>

    <div class="nav">
      <label class="dots" id="dot1" for="i1"></label>
      <label class="dots" id="dot2" for="i2"></label>
      <label class="dots" id="dot3" for="i3"></label>
    </div>

  </div>
