<section class="bienvenue">
  <h2><span>Accueil</span></h2><br>
  <p>
  Bonjour et bienvenue sur STAM la plateforme de jeux en ligne.<br>
  Le projet STAM est une plateforme de jeux en ligne dédiée aux amateurs de jeux de
logique. Le site permettra de jouer à des jeux déjà très populaires « revisités ». Nos jeux sont « fait maison », c’est-à-dire, qu’ils auront non seulement une touche d’originalité mais
pourront être également directement modifié par l’équipe de développement en fonction de vos avis nottament chers joueurs.
  </p>
</section>
<fieldset>
  <legend> News </legend>
  <ul>
    <li>22/01/18 : Création des components et structure du site</li>
    <li>03/02/18 : Ajout du navigateur</li>
    <li>08/02/18 : Ajout de contenu dans :
      <ul><li>- Index </li>
          <li>- Morpion</li>
          <li>- Sudoku </li>
          <li>- Conditions d'utilisation</li>
          <li>- Auteur</li>
          <li>- Nous contacter</li>
      </ul>
    </li>
  </ul>
</fieldset>
