<div class="sudoku">
	<h1 class="titreSudoku">Sudoku</h1>
	<app-joueur></app-joueur>
	<table>
                <tr>
                    <td></td>
                    <td>S</td>
                    <td>U</td>
                    <td>D</td>
                    <td>O</td>
                    <td>K</td>
                    <td>U</td>
                    <td>!</td>
                    <td><input type="text" maxlength="1"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                </tr>
                <tr>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                </tr>
                <tr>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                </tr>
                <tr>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                </tr>
                <tr>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                </tr>
                <tr>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                </tr>
                <tr>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                </tr>
                <tr>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                </tr>
     </table>
	<nav class="bouton">
		<button routerLink="/sudoku">Jouer</button>
		<button routerLink="/index">Quitter</button>
	</nav>
</div>
	<article class="descriptionSudoku">
		<span class="dj">Description du jeu :</span><br>
		Le sudoku est un jeu en forme de grille défini en 1979 par l’Américain Howard Garns, mais inspiré du carré latin, ainsi que du problème des 36 officiers du mathématicien suisse Leonhard Euler.<br>Le but du jeu est de remplir ces cases avec des chiffres allant de 1 à 9 en veillant toujours à ce qu'un même chiffre ne figure qu'une seule fois par colonne, une seule fois par ligne, et une seule fois par carré de neuf cases.
	</article>
